html {
    scroll-behavior: smooth;
}

body{
    background-color: #E8E8E8 ;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 200px 70px 30px 70px;
}

.main-wrapper .info .author{
    display: flex;
    flex-direction: column;
    width:240px;
    height: 160px;
    border-radius: 20px;
    background-color:#008189;
    padding:10px;
}

.info {
    position: relative;
}

.profile-pic {
    position: absolute;
    width: 216px;
    height: 216px;
    border-radius: 50%;
    left: 18px;
    top: -160px;
    border: 4px solid #008189;
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-wrapper .info .author {
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Slab', serif;
    font-size:26px;
    color:#FFFFFF;
}

.main-wrapper .info .author .name{
    margin: 0 0 35px 0;
}

.main-wrapper .info .contacts{
    display: flex;
    flex-direction: column;
    padding:30px 10px ;
}

.info-title{
    font-family: 'Roboto Slab', serif;
    font-size:24px;
    color:#008189;
    padding: 10px 0 10px 0;
}

.main-wrapper .info .contacts .contacts-title{
    font-family: 'Roboto Slab', serif;
    font-size:24px;
    color:#000000;
    padding: 0 0 20px 0;
}
.info-block{
    display:flex;
    flex-direction: column;
    width:180px;
    border-radius: 20px;
    background-color:#FFFFFF;
    padding:25px;
    margin-bottom: 25px;
}

.main-wrapper .info .contacts .contacts-title .phone, .mail{
    font-size:18px;
    font-weight: lighter;
}

.links {
    text-decoration: none;
    color:#000000;
}
.gallery-link .img{
    width: 181px;
    height: 180px;
    background-repeat: no-repeat;
}
.about-skills-works,
.edu-video{
    display: none;
}
.main-wrapper .about-skills-works .description {
    display: flex;
    flex-direction: column;
}

.main-wrapper .about-skills-works .description :last-child {
    margin-top: 10px;
}

.main-wrapper .skills-works .description{
    display: flex;
    flex-direction:column;
}

.main-wrapper .skills-works .description :last-child {
    margin-top: 10px;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 50px 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu li{
    margin-bottom: 10px;
    line-height: 14px;
}

.hidden-menu li a{
    text-decoration: none;
    color: #330000;
    font-size: 15px;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    background-color: inherit;
    padding: 5px;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 5px;
    background-color: black;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
    border-radius: 20px;
    z-index: 100;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    position: fixed;
    right: 160px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}

.header {
    display: none;
}

.footer{
    height: 100px;
    border-top: 1px black solid;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}

.rs-school .logo {
    background-image: url("rs_school_js.svg");
    width: 120px;
    height: 50px;
    background-repeat: no-repeat;
}

.footer .git {
    background-image: url("github-seeklogo.com.svg");
    width: 61px;
    height: 59px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 905px){
    .about-skills-works{
        display: flex;
        flex-direction:column;
    }
    .edu-video{
        display: flex;
        flex-direction:column;
    }

    .about-edu,
    .skills-works{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .main-wrapper {
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .about-skills-works,
    .edu-video{
        display: none;
    }

    .about-edu,
    .skills-works{
        display: flex;
        flex-direction:column;
    }

    .header {
        display: block;
    }

}

